[Unit]
Description=uWSGI Emperor Metiz Cinema UAT Service

[Service]
#ExecStartPre=/bin/bash -c 'mkdir -p /run/uwsgi; chown www-data:www-data /run/uwsgi'
ExecStart=/usr/local/bin/uwsgi -H /home/ubuntu/envs_root/metiz_uat_env --emperor /etc/uwsgi/sites/metiz/uat --env UAT=True --logto /var/log/uwsgi_metiz_uat_emperor.log
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target